- flash.each do |key, value|
  div class=("alert alert-dismissable #{flash_class(key)} right fade in")
    button.close aria-hidden="true" data-dismiss="alert" type="button"  &times;
    = value.html_safe unless value.nil?
